@page
@model ProjetoC_.Pages.HomeModel



@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Makes</title>
    <link href="https://fonts.google.com/share?selection.family=Yesteryear" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Home_Style/Home_Style.css">
</head>
<body>
    <header class="cabeçalho">
        <h1> Beauty Makes</h1>
        <h4>Porque Você Merece Sentir-se Linda</h4>
        <img src="/Assets/Images/Group 49.png" alt="Uma imagem local">
        <nav>
            <ul class="links">
                <a href="home">Produtos</a>
                <a href="ofertas">Ofertas</a>
                <a href="maisVendidos">Mais Vendidos</a>
                <a href="sobre">Sobree</a>
            </ul>
        </nav>
    </header>
</body>
