h1 {
    font-family: 'Yesteryear';
    font-size: 15px;
    text-align: left;
    position: absolute; /* Opcional, se quiser fixar o título */
    top: 20px; /* Alinha ao topo */
    left: 75px; /* Alinha à esquerda */
}

h4 {
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    top: 40px;
    left: 50px;
}

h2 {
    font-family: Sanchez;
    font-weight: 300;
    font-size: 35px;
    position: absolute;
    top: 80px;
    left: 50px;
}

h3 {
    font-size: 15px;
    font-weight: 100;
    position: absolute;
    top: 180px;
    left: 50px;
}

.cabeçalho {
    background-color: #D71994;
    padding-bottom: 140px;
    color: white;
}

.links {
    text-align: right;
    position: absolute;
    top: 20px;
    right: 45px;
    list-style-type: none;
}

.cabeçalho img {
    display: block;
    margin-left: auto;
    margin-right: auto; /*Centraliza a imagem*/
    margin-top: 0px;
    position: relative;
    top: 209px; /* Move a imagem 50 pixels para baixo */
}

nav a {
    padding: 10px 15px;
    color: white;
}


.pesquisar {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Cantos arredondados */
    left: 100px;
}
