

.logo-site {
    font-family: Yesteryear;
    color: white;
    font-size: 16px;
    position: relative;
    left: 55px;
    top: 8px;
}

.logo-site2 {
    font-family: Yesteryear;
    font-size: 10px;
    color: white;
    position: relative;
    left: 35px;
}

.mensagem1 {
    font-family: Sanchez;
    color: white;
    font-size: 30px;
    position: relative;
    left: 90px;
    top: 20px;
}

.mensagem2 {
    font-size: 15px;
    color: white;
    position: relative;
    left: 90px;
    top: 5px;
}

.links {
    text-decoration: none;
    word-spacing: 40px;
    position: absolute;
    right: 180px;
    top: 20px;
}

.mais-vendidos {
    word-spacing: 15px;
}

.img49 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.3);
    top: -35px;
}

.img27 {
    position: absolute;
    top: 236px;
    right: 165px;
}

.pesquisar {
    position: absolute;
    top: 310px;
    left: 135px;
}

.estilo-botao {
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
}

.site-header {
    background-color: #D71994;
    height: 476px;
}


